Repository pubnub/react-chat-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salet, @bartk, @Chesteer89, @parfeon, @techwritermat

.github/CODEOWNERS:

*                   @Salet @bartk @Chesteer89
.github/workflows/* @parfeon
README.md           @techwritermat
.pubnub.yml         @techwritermat

fix: payload test in MessageList
  lib/test/message-input.test.tsx
Owners: @Salet, @bartk, @Chesteer89

PubNub SDK v0.11.0 release.
  .pubnub.yml
Owners: @techwritermat

feat(lib): updates to payload structures (#47)
  .pubnub.yml
  data/channels/direct.json
  data/channels/event.json
  data/channels/social.json
  data/channels/work.json
  lib/docs/preview-body.html
  lib/docs/preview.js
  lib/docs/stories/introduction/metadata.stories.mdx
  lib/docs/stories/introduction/payloads.stories.mdx
  lib/package.json
  lib/src/channel-list/channel-list.tsx
  lib/src/chat/chat.tsx
  lib/src/hooks/use-channel-members.ts
  lib/src/hooks/use-channels.ts
  lib/src/hooks/use-user-memberships.ts
  lib/src/hooks/use-user.ts
  lib/src/hooks/use-users.ts
  lib/src/member-list/member-list.tsx
  lib/src/message-input/message-input.tsx
  lib/src/message-list/message-list.tsx
  lib/src/state-atoms.ts
  lib/src/types.ts
  lib/test/message-input.test.tsx
  lib/test/message-list.test.tsx
  package.json
  samples/group-chat/src/components/create-chat-modal.tsx
  samples/group-chat/src/components/public-channels-modal.tsx
  samples/group-chat/src/components/report-user-modal.tsx
  samples/group-chat/src/moderated-chat.tsx
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/StreamView.tsx
  samples/live-events/src/index.tsx
  samples/simple-chat/src/simple-chat.tsx
  samples/telehealth/src/components/DoctorView.tsx
  samples/telehealth/src/components/PatientView.tsx
  yarn.lock
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

Integrating with PubNub interactive demo framework
  samples/live-events/package.json
  samples/live-events/public/features.json
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/index.tsx
Owners: @Salet, @bartk, @Chesteer89

chore: update components dependency in sample apps
  .pubnub.yml
  package.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

fix: formatting
  samples/live-events/public/features.json
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/index.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

refactor: demo action on sending message
  samples/live-events/src/components/ChatView.tsx
Owners: @Salet, @bartk, @Chesteer89

fix: typing
  samples/live-events/src/components/ChatView.tsx
Owners: @Salet, @bartk, @Chesteer89

feat(samples): add PN interactive demo framework to live-events sample (#50)
  samples/live-events/package.json
  samples/live-events/public/features.json
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/index.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

Updates
  docs/iframe.html
  docs/main.29f6aedd.iframe.bundle.js
  docs/main.59fbc310.iframe.bundle.js
  docs/vendors~main.16fd7f9c.iframe.bundle.js
  docs/vendors~main.16fd7f9c.iframe.bundle.js.LICENSE.txt
  docs/vendors~main.16fd7f9c.iframe.bundle.js.map
  docs/vendors~main.d216adf1.iframe.bundle.js
  docs/vendors~main.d216adf1.iframe.bundle.js.map
Owners: @Salet, @bartk, @Chesteer89

Update demo integration package to resolve issue with demo running within iFrame in incognito mode
  samples/live-events/package.json
Owners: @Salet, @bartk, @Chesteer89

chore: update live-events lockfile
  samples/live-events/package-lock.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

chore: update demo integration in live-events sample (#52)
  samples/live-events/package-lock.json
  samples/live-events/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

fix(lib): basic fixes to useChannels hook
  lib/src/hooks/use-channels.ts
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/group-chat/src/index.tsx
  samples/group-chat/src/moderated-chat.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

fix(lib): basic hooks should work with react 18
  lib/src/hooks/use-channel-members.ts
  lib/src/hooks/use-channels.ts
  lib/src/hooks/use-user-memberships.ts
  lib/src/hooks/use-user.ts
  lib/src/hooks/use-users.ts
  samples/group-chat/src/moderated-chat.tsx
Owners: @Salet, @bartk, @Chesteer89

fix(lib): usePresence hook in React 18
  lib/src/hooks/use-presence.ts
  samples/group-chat/src/moderated-chat.tsx
Owners: @Salet, @bartk, @Chesteer89

chore: add test cases for custom hooks, upgrade to react 18
  lib/mock/pubnub-mock.ts
  lib/package-lock.json
  lib/package.json
  lib/src/hooks/use-presence.ts
  lib/src/hooks/use-user.ts
  lib/test/hooks/use-channel-members.test.tsx
  lib/test/hooks/use-channels.test.tsx
  lib/test/hooks/use-presence.test.tsx
  lib/test/hooks/use-user-memberships.test.tsx
  lib/test/hooks/use-user.test.tsx
  lib/test/hooks/use-users.test.tsx
  lib/test/message-list.test.tsx
  package.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

chore: update all samples to React 18
  lib/package-lock.json
  lib/package.json
  package.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/getting-started/src/index.tsx
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/group-chat/src/index.tsx
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/live-events/src/index.tsx
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/simple-chat/src/index.tsx
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  samples/telehealth/src/index.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

PubNub SDK v0.12.0 release.
  .pubnub.yml
  lib/docs/preview-body.html
  lib/package.json
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

fix(lib): custom hooks misbehaving with React 18 (#53)
  .pubnub.yml
  lib/docs/preview-body.html
  lib/mock/pubnub-mock.ts
  lib/package-lock.json
  lib/package.json
  lib/src/hooks/use-channel-members.ts
  lib/src/hooks/use-channels.ts
  lib/src/hooks/use-presence.ts
  lib/src/hooks/use-user-memberships.ts
  lib/src/hooks/use-user.ts
  lib/src/hooks/use-users.ts
  lib/test/hooks/use-channel-members.test.tsx
  lib/test/hooks/use-channels.test.tsx
  lib/test/hooks/use-presence.test.tsx
  lib/test/hooks/use-user-memberships.test.tsx
  lib/test/hooks/use-user.test.tsx
  lib/test/hooks/use-users.test.tsx
  lib/test/message-list.test.tsx
  package.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/getting-started/src/index.tsx
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/group-chat/src/index.tsx
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/live-events/src/index.tsx
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/simple-chat/src/index.tsx
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  samples/telehealth/src/index.tsx
  yarn.lock
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

Updates
  docs/0.394ddaabec1054b4bf39.manager.bundle.js
  docs/0.9b1635210fac677dfd91.manager.bundle.js
  docs/4.44946f9be6a4b0125429.manager.bundle.js
  docs/4.44946f9be6a4b0125429.manager.bundle.js.LICENSE.txt
  docs/4.b84ad5b56aa39c68a5c2.manager.bundle.js
  docs/5.4a3166d63a556915f662.manager.bundle.js
  docs/5.f6e26de24f11dd8cad70.manager.bundle.js
  docs/6.a73b1612fa199dde8543.manager.bundle.js
  docs/6.bb98ea7bdeb269656ef3.manager.bundle.js
  docs/6.bb98ea7bdeb269656ef3.manager.bundle.js.LICENSE.txt
  docs/7.f4dbf2c24b10fea7ab7f.manager.bundle.js
  docs/7.f4ded23674159ad06485.manager.bundle.js
  docs/8.279ed8d67ca12a1bf5f6.manager.bundle.js
  docs/8.cea63955ed3766174b1b.manager.bundle.js
  docs/iframe.html
  docs/index.html
  docs/main.29f6aedd.iframe.bundle.js
  docs/main.830e77d2e24b5c0e0e9e.manager.bundle.js
  docs/main.8328cd74.iframe.bundle.js
  docs/main.890a489ee6f68b90f909.manager.bundle.js
  docs/runtime~main.171546f82583b477b05a.manager.bundle.js
  docs/runtime~main.890682348b3ac5c08218.manager.bundle.js
  docs/vendors~main.0d14ddbf824ab3387401.manager.bundle.js
  docs/vendors~main.0d14ddbf824ab3387401.manager.bundle.js.LICENSE.txt
  docs/vendors~main.0f1eb948.iframe.bundle.js
  docs/vendors~main.0f1eb948.iframe.bundle.js.LICENSE.txt
  docs/vendors~main.0f1eb948.iframe.bundle.js.map
  docs/vendors~main.16fd7f9c.iframe.bundle.js
  docs/vendors~main.16fd7f9c.iframe.bundle.js.map
  docs/vendors~main.92bcac05a796fa6fae7f.manager.bundle.js
Owners: @Salet, @bartk, @Chesteer89

chore: bump components version in samples
  lib/package-lock.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
Owners: @Salet, @bartk, @Chesteer89

fix: small details
  .pubnub.yml
  data/channels/work.json
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

feat(lib): typing updates
  data/channels/direct.json
  data/channels/event.json
  data/channels/social.json
  data/channels/work.json
  data/users/users.json
  lib/src/types.ts
  samples/live-events/src/components/ChatView.tsx
Owners: @Salet, @bartk, @Chesteer89

feat: temp commit to be squashed
  .pubnub.yml
  data/channels/work.json
  samples/live-events/src/components/ChatView.tsx
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

feat: switch Channel thumb into profileUrl
  lib/docs/stories/introduction/metadata.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

feat(lib): switch Object SDK methods to VSP
  lib/package-lock.json
  lib/package.json
  lib/src/hooks/use-channels.ts
  lib/src/hooks/use-user.ts
  lib/src/hooks/use-users.ts
  lib/src/types.ts
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/group-chat/populate-pn-objects.js
  samples/group-chat/src/components/create-chat-modal.tsx
  samples/group-chat/src/components/public-channels-modal.tsx
  samples/group-chat/src/components/report-user-modal.tsx
  samples/group-chat/src/moderated-chat.tsx
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

feat(lib): useMemberships hook initial implementation
  lib/package.json
  lib/src/hooks/index.ts
  lib/src/hooks/use-memberships.ts
  lib/src/types.ts
  samples/getting-started/package.json
  samples/group-chat/package.json
  samples/group-chat/src/moderated-chat.tsx
  samples/live-events/package.json
  samples/live-events/src/components/ChatView.tsx
  samples/simple-chat/package.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

feat(lib): useMemberships working implementation
  lib/src/hooks/use-memberships.ts
  lib/src/types.ts
  samples/group-chat/src/moderated-chat.tsx
Owners: @Salet, @bartk, @Chesteer89

Add info on APIs to hooks & add missing VSP fields to spec
  lib/docs/stories/hooks/use-channel-members.stories.mdx
  lib/docs/stories/hooks/use-memberships.stories.mdx
  lib/docs/stories/hooks/use-user-memberships.stories.mdx
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

docs: add useMemberships doc page
  lib/docs/stories/hooks/use-memberships.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

test: fix pubnub mock
  lib/mock/pubnub-mock.ts
Owners: @Salet, @bartk, @Chesteer89

chore: upgrade pubnub version
  lib/package-lock.json
  lib/package.json
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

test: add test cases for useMemberships hook
  lib/mock/pubnub-mock.ts
  lib/src/hooks/use-memberships.ts
  lib/test/hooks/use-channel-members.test.tsx
  lib/test/hooks/use-memberships.test.tsx
  lib/test/hooks/use-user-memberships.test.tsx
Owners: @Salet, @bartk, @Chesteer89

feat(samples): login screen for telehealth app
  samples/telehealth/index.html
  samples/telehealth/src/assets/key.svg
  samples/telehealth/src/assets/logo-dark.svg
  samples/telehealth/src/assets/logo.svg
  samples/telehealth/src/assets/moon-over-sun.svg
  samples/telehealth/src/assets/moon-stars.svg
  samples/telehealth/src/assets/moon.svg
  samples/telehealth/src/assets/spinner.svg
  samples/telehealth/src/assets/splash.png
  samples/telehealth/src/assets/sun.svg
  samples/telehealth/src/assets/unlock.svg
  samples/telehealth/src/assets/user.svg
  samples/telehealth/src/data/channels.json
  samples/telehealth/src/data/memberships.json
  samples/telehealth/src/data/users.json
  samples/telehealth/src/index.css
  samples/telehealth/src/index.tsx
  samples/telehealth/src/views/DoctorView.tsx
  samples/telehealth/src/views/LoginView.tsx
  samples/telehealth/src/views/PatientView.tsx
  samples/telehealth/src/views/SwitchView.tsx
  samples/telehealth/tailwind.config.js
Owners: @Salet, @bartk, @Chesteer89

Add note regarding react chat components tutorials
  lib/docs/stories/introduction/usage.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Update lib/docs/stories/introduction/usage.stories.mdx
  lib/docs/stories/introduction/usage.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

docs: add links to tutorials (#55)
  lib/docs/stories/introduction/usage.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Updates
  docs/iframe.html
  docs/main.8328cd74.iframe.bundle.js
  docs/main.af928698.iframe.bundle.js
  docs/vendors~main.0f1eb948.iframe.bundle.js
  docs/vendors~main.0f1eb948.iframe.bundle.js.map
  docs/vendors~main.7846a0e8.iframe.bundle.js
  docs/vendors~main.7846a0e8.iframe.bundle.js.LICENSE.txt
  docs/vendors~main.7846a0e8.iframe.bundle.js.map
Owners: @Salet, @bartk, @Chesteer89

docs: update note in usage doc with tutorial links
  lib/docs/stories/introduction/usage.stories.mdx
Owners: @Salet, @bartk, @Chesteer89
