Repository pubnub/react-chat-components, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Salet, @bartk, @Chesteer89, @parfeon, @techwritermat

feat(samples): telehealth initial implementation
  samples/telehealth/assets/arrow-turn-up.svg
  samples/telehealth/assets/clipboard-medical.svg
  samples/telehealth/assets/ellipsis-vertical.svg
  samples/telehealth/favicon.png
  samples/telehealth/index.html
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  samples/telehealth/src/doctor-details/doctor-details.scss
  samples/telehealth/src/doctor-details/doctor-details.tsx
  samples/telehealth/src/doctor-view/doctor-view.scss
  samples/telehealth/src/doctor-view/doctor-view.tsx
  samples/telehealth/src/index.css
  samples/telehealth/src/index.tsx
  samples/telehealth/src/patient-view/patient-view.scss
  samples/telehealth/src/patient-view/patient-view.tsx
  samples/telehealth/src/vite-env.d.ts
  samples/telehealth/tsconfig.json
  samples/telehealth/tsconfig.node.json
  samples/telehealth/vite.config.ts
Owners: @Salet, @bartk, @Chesteer89

feat(samples): telehealth fix build issues
  samples/telehealth/package.json
  samples/telehealth/src/doctor-details/doctor-details.tsx
  samples/telehealth/src/index.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

feat(samples): live event chat
  samples/live-event-chat/favicon.png
  samples/live-event-chat/index.html
  samples/live-event-chat/package-lock.json
  samples/live-event-chat/package.json
  samples/live-event-chat/src/index.tsx
  samples/live-event-chat/src/live-event-chat.css
  samples/live-event-chat/src/live-event-chat.tsx
  samples/live-event-chat/src/vite-env.d.ts
  samples/live-event-chat/tsconfig.json
  samples/live-event-chat/vite.config.ts
Owners: @Salet, @bartk, @Chesteer89

feat(samples): telehealth changes to dark mode switcher
  samples/telehealth/src/assets/ellipsis-vertical.svg
  samples/telehealth/src/assets/moon-over-sun.svg
  samples/telehealth/src/assets/moon-stars.svg
  samples/telehealth/src/containers/AppView.scss
  samples/telehealth/src/containers/AppView.tsx
  samples/telehealth/src/containers/DoctorView.scss
  samples/telehealth/src/containers/DoctorView.tsx
  samples/telehealth/src/containers/PatientView.scss
  samples/telehealth/src/index.css
  samples/telehealth/src/index.tsx
Owners: @Salet, @bartk, @Chesteer89

feat(samples): channel presence info for live-event-chat
  package-lock.json
  package.json
  samples/live-event-chat/package.json
  samples/live-event-chat/src/live-event-chat.css
  samples/live-event-chat/src/live-event-chat.tsx
Owners: @Salet, @bartk, @Chesteer89

feat(samples): live chat enhancements UI-757
  package-lock.json
  samples/live-event-chat/index.html
  samples/live-event-chat/package-lock.json
  samples/live-event-chat/package.json
  samples/live-event-chat/src/index.tsx
  samples/live-event-chat/src/live-event-chat.css
  samples/live-event-chat/src/live-event-chat.tsx
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

chore: update react dev dependencies in lib
  lib/package.json
  package-lock.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

fix(samples): live event current member scroll
  samples/live-event-chat/src/live-event-chat.css
Owners: @Salet, @bartk, @Chesteer89

Add README.md for live event chat app (#40)
  samples/live-events/README.md
  samples/live-events/screenshot.png
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

docs: add README.md to telehealth sample (#39) (#41)
  lib/README.md
  samples/telehealth/README.md
  samples/telehealth/screenshot.png
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

chore: remove lock files from samples
  samples/getting-started/package-lock.json
  samples/group-chat/package-lock.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

fix(samples): several bigfixes in telehealth sample
  lib/README.md
  samples/live-events/README.md
  samples/telehealth/src/components/DoctorView.tsx
  samples/telehealth/src/components/PatientView.tsx
  samples/telehealth/src/index.css
  samples/telehealth/src/index.tsx
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

fix(lib): senderInfo not attached when sending files
  lib/src/message-input/message-input.tsx
  lib/src/message-list/message-list.scss
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/components/StreamView.tsx
Owners: @Salet, @bartk, @Chesteer89

Fix the typo
  lib/docs/stories/introduction/usage.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

PubNub SDK v0.10.0 release.
  .pubnub.yml
  lib/docs/preview-body.html
  lib/package.json
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

refactor: revert dedicated data package changes
  .pubnub.yml
  lib/docs/preview.js
  lib/docs/stories/components/ChannelList.stories.tsx
  lib/docs/stories/components/MemberList.stories.tsx
  lib/mock/pubnub-mock.ts
  lib/package-lock.json
  lib/package.json
  lib/rollup.config.js
  lib/test/channel-list.test.tsx
  lib/test/member-list.test.tsx
  lib/test/message-input.test.tsx
  samples/getting-started/package-lock.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/group-chat/populate-pn-objects.js
  samples/group-chat/src/index.tsx
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/index.tsx
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/simple-chat/src/index.tsx
  samples/simple-chat/src/simple-chat.tsx
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  samples/telehealth/src/index.tsx
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

PubNub SDK v0.10.0 release.
  .pubnub.yml
Owners: @techwritermat

feat: temp commit to be squashed
  .pubnub.yml
  data/channels/work.json
  lib/package.json
  lib/src/message-input/message-input.tsx
  lib/src/types.ts
  lib/test/message-list.test.tsx
  package.json
  samples/getting-started/package.json
  samples/group-chat/package.json
  samples/live-events/package.json
  samples/live-events/src/components/ChatView.tsx
  samples/simple-chat/package.json
  samples/telehealth/package.json
  yarn.lock
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

chore: update components dep in samples
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
Owners: @Salet, @bartk, @Chesteer89

chore: update vite version in samples
  samples/getting-started/package-lock.json
  samples/getting-started/package.json
  samples/group-chat/package-lock.json
  samples/group-chat/package.json
  samples/live-events/package-lock.json
  samples/live-events/package.json
  samples/simple-chat/package-lock.json
  samples/simple-chat/package.json
  samples/telehealth/package-lock.json
  samples/telehealth/package.json
  yarn.lock
Owners: @Salet, @bartk, @Chesteer89

feat(lib): typing updates
  data/channels/direct.json
  data/channels/event.json
  data/channels/social.json
  data/channels/work.json
  data/users/users.json
  lib/docs/stories/introduction/metadata.stories.mdx
  lib/src/channel-list/channel-list.tsx
  lib/src/chat/chat.tsx
  lib/src/hooks/use-channel-members.ts
  lib/src/hooks/use-channels.ts
  lib/src/hooks/use-user-memberships.ts
  lib/src/hooks/use-user.ts
  lib/src/hooks/use-users.ts
  lib/src/member-list/member-list.tsx
  lib/src/message-list/message-list.tsx
  lib/src/state-atoms.ts
  lib/src/types.ts
  samples/group-chat/src/components/create-chat-modal.tsx
  samples/group-chat/src/components/public-channels-modal.tsx
  samples/group-chat/src/components/report-user-modal.tsx
  samples/group-chat/src/moderated-chat.tsx
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/components/StreamView.tsx
  samples/live-events/src/index.tsx
  samples/simple-chat/src/simple-chat.tsx
  samples/telehealth/src/components/DoctorView.tsx
  samples/telehealth/src/components/PatientView.tsx
Owners: @Salet, @bartk, @Chesteer89

fix: small details
  .pubnub.yml
  data/channels/work.json
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

docs: wrong data import
  lib/docs/stories/code-examples/customization.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

fix: remove message text when sending files
  lib/src/message-input/message-input.tsx
Owners: @Salet, @bartk, @Chesteer89

feat: switch Channel thumb into profileUrl
  data/channels/direct.json
  data/channels/event.json
  data/channels/social.json
  data/channels/work.json
  lib/docs/stories/introduction/metadata.stories.mdx
  lib/src/channel-list/channel-list.tsx
  samples/group-chat/src/components/create-chat-modal.tsx
  samples/group-chat/src/moderated-chat.tsx
  samples/live-events/src/components/StreamView.tsx
Owners: @Salet, @bartk, @Chesteer89

fix: tests
  lib/src/message-input/message-input.tsx
  lib/test/message-input.test.tsx
  lib/test/message-list.test.tsx
Owners: @Salet, @bartk, @Chesteer89

feat(samples): improve rwd in live-events chat
  samples/live-events/src/components/ChannelsView.tsx
  samples/live-events/src/components/ChatView.tsx
  samples/live-events/src/components/StreamView.tsx
  samples/live-events/src/index.tsx
Owners: @Salet, @bartk, @Chesteer89

Rename UI customization to theming
  lib/docs/preview.js
  lib/docs/stories/ui-customization/renderers.stories.mdx
  lib/docs/stories/ui-customization/themes.stories.mdx
  lib/docs/stories/ui-customization/variables.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Rename UI customization to theming (#48)
  lib/docs/preview.js
  lib/docs/stories/ui-customization/renderers.stories.mdx
  lib/docs/stories/ui-customization/themes.stories.mdx
  lib/docs/stories/ui-customization/variables.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Updates
  docs/iframe.html
  docs/main.59fbc310.iframe.bundle.js
  docs/main.7630e590.iframe.bundle.js
Owners: @Salet, @bartk, @Chesteer89

Add schemas for data payloads
  lib/docs/preview.js
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Reorder the docs
  lib/docs/preview.js
Owners: @Salet, @bartk, @Chesteer89

feat(lib): remove VSP related changes
  data/channels/direct.json
  data/channels/event.json
  data/channels/social.json
  data/channels/work.json
  data/users/users.json
  lib/docs/stories/introduction/metadata.stories.mdx
  lib/src/types.ts
  lib/test/message-input.test.tsx
Owners: @Salet, @bartk, @Chesteer89

.
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Add a new data payloads doc
  lib/docs/preview.js
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Change desc
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

Fix a typo
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

docs: update payload definitions
  lib/docs/stories/introduction/payloads.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

PubNub SDK v0.11.0 release.
  .pubnub.yml
  lib/docs/preview-body.html
  lib/package.json
Owners: @techwritermat, @Salet, @bartk, @Chesteer89

docs: fix customization doc
  lib/docs/stories/code-examples/customization.stories.mdx
Owners: @Salet, @bartk, @Chesteer89

.github/CODEOWNERS:

*                   @Salet @bartk @Chesteer89
.github/workflows/* @parfeon
README.md           @techwritermat
.pubnub.yml         @techwritermat
